# 8. Functions in python

 * __A for loop is used for iterating over a sequence(that is either a list, a tuple, a dicitonary and a set, or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, a set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we execute a set of statements as long as a condition is true.__
 * __Note: Remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variable to be ready, in this example we need to define a indexing variable, i, which we set to 1.__

# range() functions

 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() function.__
 * __The range() function return a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specifed number.__

In [1]:
range(10)

range(0, 10)

In [2]:
range(5)

range(0, 5)

In [3]:
range(10,20)

range(10, 20)

In [4]:
range(10)

range(0, 10)

In [5]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
for babli in range(20):
    print(babli)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
for x1 in range(31,40):
    print(x1)

31
32
33
34
35
36
37
38
39

In [13]:
x=[10,20,30,40,50,60]
print(type(x))

for i in x:
    print(i)

<class 'list'>
10
20
30
40
50
60

In [14]:
tuple_1=(2,4,5,6,7,8,9,10)

for i in tuple_1:
    print(i)

2
4
5
6
7
8
9
10

In [15]:
set_1={1,1,1,1,2,2,2,2,2,3,3,3,3,3}
for i in set_1:
    print(i)

1
2
3

In [21]:
list_1=[10,12,14,16,18,20]

for i in range(len(list_1)):
    print(i,list_1[i])

0 10
1 12
2 14
3 16
4 18
5 20

In [28]:
my_list=[10,20,30,40,50,60]
for i, value in enumerate(my_list[::-1]):
    x=-(i+1)
    print(f'Index{x}:{value}')

Index-1:60
Index-2:50
Index-3:40
Index-4:30
Index-5:20
Index-6:10

In [31]:
list=[10,20,30,40,50,60]

for i in reversed(list):
    print(i,end=',')

60,50,40,30,20,10,

In [32]:
for i in list[::-1]:
    print(i)

60
50
40
30
20
10

In [34]:
# print even number from 1 to 10 using loop.

for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [35]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [38]:
names=['Rupali',"Babli","Pratigya","Akash","Uday","Gurav"]

for i in range(len(names)):
    print(i,names[i])

0 Rupali
1 Babli
2 Pratigya
3 Akash
4 Uday
5 Gurav

In [43]:
for i,j in enumerate(names):
    print(i,j)

0 Rupali
1 Babli
2 Pratigya
3 Akash
4 Uday
5 Gurav

In [44]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [48]:
# wap to generate table.

number=19

for i in range(1,11):
    print(i*number)

19
38
57
76
95
114
133
152
171
190

In [50]:
number=int(input('Enter any number:'))

for i in range(1,11):
    print(i*number)

Enter any number: 23

23
46
69
92
115
138
161
184
207
230

In [51]:
def table():
    num1 = int(input("Enter first table:"))
    num2 = int(input("Enter second table"))
    
    for i in range(1,11):
        print('%d X %d = %d'%(num1,i,num1*i),'   %d X %d = %d'%(num2,i,num2*i))
        
table()

Enter first table: 12
Enter second table 13

12 X 1 = 12    13 X 1 = 13
12 X 2 = 24    13 X 2 = 26
12 X 3 = 36    13 X 3 = 39
12 X 4 = 48    13 X 4 = 52
12 X 5 = 60    13 X 5 = 65
12 X 6 = 72    13 X 6 = 78
12 X 7 = 84    13 X 7 = 91
12 X 8 = 96    13 X 8 = 104
12 X 9 = 108    13 X 9 = 117
12 X 10 = 120    13 X 10 = 130

In [52]:
num1 = int(input("Enter first table:"))
#num2 = int(input("Enter second table"))
for i in range(1,11):
        print(f"{num1}X{i}={num1*i}")

Enter first table: 12

12X1=12
12X2=24
12X3=36
12X4=48
12X5=60
12X6=72
12X7=84
12X8=96
12X9=108
12X10=120

In [9]:
x={1,2,3,4,5,6,7,89,10,10,10,20,20,20,1,1,1,2,2,2}

# find sum of the set.
sum1=0
for i in x:
    sum1+=i
    print(i,sum1)
    print(sum1/len(x))

1 1
0.1
2 3
0.3
3 6
0.6
4 10
1.0
5 15
1.5
6 21
2.1
7 28
2.8
10 38
3.8
20 58
5.8
89 147
14.7

In [11]:
# even number 10
even_sum=0
for i in range(0,11,2):
    even_sum+=i
    print(i,even_sum)

0 0
2 2
4 6
6 12
8 20
10 30

In [13]:
sum2=0
for i in range(0,11):
    if i%2==0:
        sum2+=i
        print(i,sum2)

0 0
2 2
4 6
6 12
8 20
10 30

In [23]:
_=0
for i in range(101,201,2):
    _+=i
    print(i,_)

101 101
103 204
105 309
107 416
109 525
111 636
113 749
115 864
117 981
119 1100
121 1221
123 1344
125 1469
127 1596
129 1725
131 1856
133 1989
135 2124
137 2261
139 2400
141 2541
143 2684
145 2829
147 2976
149 3125
151 3276
153 3429
155 3584
157 3741
159 3900
161 4061
163 4224
165 4389
167 4556
169 4725
171 4896
173 5069
175 5244
177 5421
179 5600
181 5781
183 5964
185 6149
187 6336
189 6525
191 6716
193 6909
195 7104
197 7301
199 7500

In [30]:
sum3=10
for i in range(100,201):
    if i%2==1:
        sum3+=i
        print(i,sum3)

101 111
103 214
105 319
107 426
109 535
111 646
113 759
115 874
117 991
119 1110
121 1231
123 1354
125 1479
127 1606
129 1735
131 1866
133 1999
135 2134
137 2271
139 2410
141 2551
143 2694
145 2839
147 2986
149 3135
151 3286
153 3439
155 3594
157 3751
159 3910
161 4071
163 4234
165 4399
167 4566
169 4735
171 4906
173 5079
175 5254
177 5431
179 5610
181 5791
183 5974
185 6159
187 6346
189 6535
191 6726
193 6919
195 7114
197 7311
199 7510

In [27]:
sum3

'babli'

In [31]:
for i in range(100,200):
    print(i)

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

In [45]:
sum4=0
for i in range(100,200):
    
    print(i)
    if i<=150:
        sum4+=i
        print(i,sum4)

100
100 100
101
101 201
102
102 303
103
103 406
104
104 510
105
105 615
106
106 721
107
107 828
108
108 936
109
109 1045
110
110 1155
111
111 1266
112
112 1378
113
113 1491
114
114 1605
115
115 1720
116
116 1836
117
117 1953
118
118 2071
119
119 2190
120
120 2310
121
121 2431
122
122 2553
123
123 2676
124
124 2800
125
125 2925
126
126 3051
127
127 3178
128
128 3306
129
129 3435
130
130 3565
131
131 3696
132
132 3828
133
133 3961
134
134 4095
135
135 4230
136
136 4366
137
137 4503
138
138 4641
139
139 4780
140
140 4920
141
141 5061
142
142 5203
143
143 5346
144
144 5490
145
145 5635
146
146 5781
147
147 5928
148
148 6076
149
149 6225
150
150 6375
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

In [ ]:
x= [10,11,13,15,16,17,33,35,37,38,20,30,40,50,60,70,80,90,100]

In [59]:
sum = 0
for i in range(100,201):
    sum+=i
    if sum==6526:
        break
    print(i,sum)

100 100
101 201
102 303
103 406
104 510
105 615
106 721
107 828
108 936
109 1045
110 1155
111 1266
112 1378
113 1491
114 1605
115 1720
116 1836
117 1953
118 2071
119 2190
120 2310
121 2431
122 2553
123 2676
124 2800
125 2925
126 3051
127 3178
128 3306
129 3435
130 3565
131 3696
132 3828
133 3961
134 4095
135 4230
136 4366
137 4503
138 4641
139 4780
140 4920
141 5061
142 5203
143 5346
144 5490
145 5635
146 5781
147 5928
148 6076
149 6225
150 6375

In [65]:
x= [10,11,13,15,16,17,33,35,37,38,20,30,40,50,60,70,80,90,100]


even=[]
sum1=0
for i in x:
    if i%2==0:
        even.append(i)
        sum1+=i
print(even,'=',sum1)

[10, 16, 38, 20, 30, 40, 50, 60, 70, 80, 90, 100] = 604

In [67]:
sum5=0
for i in x:
    print(i)
    if i%2==0:
        sum5+=i
        print(i,sum5)

10
10 10
11
13
15
16
16 26
17
33
35
37
38
38 64
20
20 84
30
30 114
40
40 154
50
50 204
60
60 264
70
70 334
80
80 414
90
90 504
100
100 604

In [68]:
even

[10, 16, 38, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [71]:
#Filtering list using filter

list1= [10,11,13,15,16,17,33,35,37,38,20,30,40,50,60,70,80,90,100]
def is_even(y):
    return y % 2 == 0
list2 = list(filter(is_even,list1))
print(list2)

[10, 16, 38, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [72]:
#even numbers using list comprehension

x= [10,11,13,15,16,17,33,35,37,38,20,30,40,50,60,70,80,90,100]
even = [i for i in x if i % 2 == 0]
print(even)

[10, 16, 38, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [10]:
user_1=int(input('Enter your range:'))
list1=[]
even_1=[]
odd_1=[]
for i in range(user_1):
    list1.append(i)
    if i%2==0:
        even_1.append(i)
    elif i%2!=0:
        odd_1.append(i)

print("It's your list:",list1)
print("Even numbers of your list:",even_1)
print("Odd numbers of your list:",odd_1)

Enter your range: 15

It's your list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Even numbers of your list: [0, 2, 4, 6, 8, 10, 12, 14]
Odd numbers of your list: [1, 3, 5, 7, 9, 11, 13]