# 9. Functions in Python
* _________________________________________________________________________________________
 * __In Python, a function is a group of related statements that performs a specific task.__
 * __Functions help break our program into smaller and modular chunks. *As our program grows larger and larger, functions make it more organized and manageable.__
 * __Furthermore, it avoids repetition and make the code reusable.__
 * __There are two types of functions:__
 * __Pre-defined functions.__
 * __User-defined functions.__
 * __In Python a function is defined using the def keyword followed by the function name and parentheses ().__
 * __Keyword def that marks the start of the function header.__
 * __A function name to uniquely identify the function.__
 * __Function naming follows the same rules of writing identifiers in Python.__
 * __Parameters (arguments) through which we pass values to a function. They are optional.__
 * __A colon(:) to mark the end of the funciton header.__
 * __Optional documentation string (docstring) to describe what the function does.__
 * __One or more valid python statements that make up the function body.__
 * __Statements must have the same indentation level(usually 4 spaces).__
 * __An optional return statemnet return a value from the function.__

In [10]:
def greet(y):
    x='Congratulation! '+y
    print('Function working Successfully!')
    return x
    
    

greet('Ajinkya')

Function working Successfully!

'Congratulation! Ajinkya'

In [11]:
greet('Uday')

Function working Successfully!

'Congratulation! Uday'

In [12]:
greet('Babli')

Function working Successfully!

'Congratulation! Babli'

In [13]:
greet('Srinivash')

Function working Successfully!

'Congratulation! Srinivash'

In [14]:
print('Hello world')

return "Hello world"

Hello world

SyntaxError: 'return' outside function (427105306.py, line 3)

In [22]:
# Waf to sum of two number:

def sum(a,b):
    z=a+b
    print('The sum of two numbers is:',z)
    #return z


sum(100,200)

The sum of two numbers is: 300

In [23]:
greet('Pratigya')

Function working Successfully!

'Congratulation! Pratigya'

In [24]:
sum(10,20)

The sum of two numbers is: 30

In [25]:
sum(35.25,78.96)

The sum of two numbers is: 114.21

In [26]:
greet('Hello')

Function working Successfully!

'Congratulation! Hello'

In [27]:
sum(78,96)

The sum of two numbers is: 174

In [31]:
def msg1():
    print('Hello World')

def msg2():
    print('Good Morning!')
    return None

In [32]:
msg1()
msg2()

Hello World
Good Morning!

In [33]:
print(msg1())

Hello World
None

In [41]:
def ajinky():
    print('Ajinkya yeha dekho')

In [42]:
ajinky()

Ajinkya yeha dekho

In [43]:
print(ajinky())

Ajinkya yeha dekho
None

In [51]:
# waf with user input that take two value form user.

def user1(x,y):
    sum1=x+y
    print(f'The sum of two numbers is {x} and {y} is:{sum1}')


u1=int(input('Enter first number: '))
u2=int(input('Enter first number: '))

user1(u1,u2)

Enter first number:  500
Enter first number:  700

The sum of two numbers is 500 and 700 is:1200

# Variables

 * __The input to a funciton is called formal parameter.__
 * __A variable that is declared inside a function is called a local vairable.__
 * __The parameter only exists within the function(i.e. the point where the function starts and stops).__
 * __A variable that is declared outside a funciton definition is called global variable and its value is accessibel modifiable thoughout the program.__

In [53]:
def user1(x,y):
    sum1=x+y
    print(f'The sum of two numbers is {x} and {y} is:{sum1}')


# u1=int(input('Enter first number: '))
# u2=int(input('Enter first number: '))

user1(200,400)    # formal parameter

The sum of two numbers is 200 and 400 is:600

In [57]:
def user1(x):
    second_val=230   # y is a local variable
    sum1=x+second_val
    print(f'The sum of two numbers is {x} and {second_val} is:{sum1}')


# u1=int(input('Enter first number: '))
# u2=int(input('Enter first number: '))

user1(200)

The sum of two numbers is 200 and 230 is:430

In [58]:
second_val

NameError: name 'second_val' is not defined

In [59]:
x=500   # x is a global variable
def user1():
    second_val=230   # y is a local variable
    sum1=x+second_val
    print(f'The sum of two numbers is {x} and {second_val} is:{sum1}')


# u1=int(input('Enter first number: '))
# u2=int(input('Enter first number: '))

user1()

The sum of two numbers is 500 and 230 is:730

In [60]:
x

500

In [61]:
second_val

NameError: name 'second_val' is not defined

In [7]:
def function1(x):
    y=78*x+100
    #print(y)
    return y

function1(20)

1660

In [10]:
# Global variable

a=15

y=function1(a)
print(y)

1270

In [20]:
# formal parameter:

def name(first_name='Uday',last_name=' Rasal'):   # x='Hello' default value  # formal parameter.
    y='Congratulation! '+first_name+last_name
    return y

name()

'Congratulation! Uday Rasal'

In [21]:
x=78
y=100

equation=x*y+x+y-37   # 78*100+78+100-37 = 7941

if equation>0:
    equation=6

else: equation=37

equation

6

In [22]:
x=78
y=100

equation=x*y+x+y-37   # 78*100+78+100-37 = 7941

if equation>0:
    equation='ajinkya'

else: equation=37

equation

'ajinkya'

In [23]:
x=78
y=100

equation=x*y+x+y-37   # 78*100+78+100-37 = 7941

if equation<0:
    equation=6

else: equation='Rupali'

equation

'Rupali'

In [26]:
def function(x,y):
    equation = x*y+x+y-37  # 
    if equation<0:
        equation=10

    else: equation=100
    return equation

x=0
y=20
function(x,y)

10

In [35]:
def rating_value(rating=6.0):
    if rating<=10 and rating>0:
        if rating<8:
            return f'You should not watch this movie with the rating value of {rating}'
        else: return f'You should watch this movie with the rating value of {rating}'
    else: return f'your rating should be in under 10 value and not in negative value.'


print(rating_value())
print(rating_value(10.0))
print(rating_value(-5))

You should not watch this movie with the rating value of 6.0
You should watch this movie with the rating value of 10.0
your rating should be in under 10 value and not in negative value.

In [45]:
# args and kwargs.

def function(*args):
    print('Number of elements is:',len(args))
    for i in args:
        print(i)


function('Rupali','Rasal','Ajinkya','Welcome','Number','Gurav','Akash',10,45.23,[10,20,30])
print()

Number of elements is: 10
Rupali
Rasal
Ajinkya
Welcome
Number
Gurav
Akash
10
45.23
[10, 20, 30]

In [61]:
def total(*args):
    total=0 # total variable= local
    ajinkya=0
    rupali1=100
    for i in args:
        total+=i
    return total

sum=0

print('Total of the numbers is:',total(10,20,30,40,50,60,70,80))

Total of the numbers is: 360

In [62]:
ajinkya

NameError: name 'ajinkya' is not defined

In [ ]:
sum

In [63]:
rupali

100

In [64]:
rupali1

NameError: name 'rupali1' is not defined

In [77]:
# Define a funciton regarding a dictionary function

def function2(**args):
    for key in args:
        print(key,':',args[key])

function2(Name='Ajinkya',age=20,Name1='Rupali',age1=15)

Name : Ajinkya
age : 20
Name1 : Rupali
age1 : 15

In [94]:
def addition(nlis):
    nlis.add(3.14)
    nlis.add(10)
    nlis.add(20)
    nlis.add(20)
    nlis.add(20)
    nlis.add(20)
    nlis.add(20)

x=set()
addition(x)
x

{3.14, 10, 20}

In [96]:
def addition(nlis):
    nlis.append(3.14)
    nlis.append(10)
    nlis.append(20)
    nlis.append(20)
    nlis.append(20)
    nlis.append(20)
    nlis.append(20)

x=[]
addition(x)
x

[3.14, 10, 20, 20, 20, 20, 20]

In [2]:
print('Hello Akash')

Hello Akash

In [3]:
print('Good Evening')

Good Evening

In [4]:
print('Congratulation')

Congratulation

In [5]:
# return

def func():
    z='Hello world'
    #print(z)
    return z

func()

'Hello world'

In [6]:
return 'Hello world'

SyntaxError: 'return' outside function (4163167981.py, line 1)

In [16]:
# Aggrigate function

# sum(),min(),max(),len(),count(),avg()

special_num=[10,20,30,40,50,60,70,80,90,100,10,]

print(sum(special_num))
print(min(special_num))
print(max(special_num))
print(len(special_num))
print(special_num.count(100))
print(sum(special_num)/len(special_num))

560
10
100
11
1
50.90909090909091

In [20]:
# Example of regarding 'args'

def total(*args):
    total=0
    for i in args:
        total+=i
    return total


total(10,20,30,40,50,60,70,40,10,20,20,20)

390

In [22]:
type(total)

function

In [23]:
help(total)

Help on function total in module __main__:

total(*args)

In [21]:
def total(*args):
    total=0
    for i in args:
        total+=i
    return total


total(100,200)

300

In [24]:
# cheetsheet # shift+tab

print('')

In [26]:
total(100,300,400)

800

In [27]:
total('Uday','Rasal')

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [34]:
# define a function

def addition(x,y):
    '''The following function returns the sum of two parameters.'''
    z=x+y
    return z

print(addition.__doc__)  # Doc string
print(addition(45,69))

The following function returns the sum of two parameters.
114

In [43]:
# Write a function that gives the total of the first ten numbers.

In [42]:
def total_number1(x):
    total=0
    for i in range(1,x+1):
        total+=i
    return total

print('The sum of the value from 1 to 10 is:',total_number1(10))

The sum of the value from 1 to 10 is: 55

In [45]:
def total_number1(x):
    total=0
    for i in range(1,x+1):
        total+=i
    return total

y=int(input('Enter your range:'))
print('The sum of the value from 1 to 10 is:',total_number1(y))

Enter your range: 100

The sum of the value from 1 to 10 is: 5050

In [47]:
y=int(input('Enter your range:'))
print('The sum of the value from 1 to 10 is:',total_number1(y))

Enter your range: 50

The sum of the value from 1 to 10 is: 1275

In [48]:
def total_number1():
    y=int(input('Enter your range:'))
    total=0
    for i in range(1,y+1):
        total+=i
    return total


print('The sum of the value from 1 to 10 is:',total_number1())

Enter your range: 40

The sum of the value from 1 to 10 is: 820

In [51]:
total_number1()

Enter your range: 20

210

In [55]:
# 100 -----> 101

def added_num(num1):
    def incremented_num(num1):
        num1=num1+1
        return num1
    num2=incremented_num(num1)
    print(num1,'----------->',num2)

x=int(input('Enter any number to increment 1 value:'))
added_num(x)

Enter any number to increment 1 value: 2000

2000 -----------> 2001

In [56]:
x=int(input('Enter any number to increment 1 value:'))
added_num(x)

Enter any number to increment 1 value: 500

500 -----------> 501

In [59]:

def added_num():
    num1=int(input('Enter any number to increment 1 value:'))
    def incremented_num(num1):
        num1=num1+10
        return num1
    num2=incremented_num(num1)
    print(num1,'----------->',num2)


added_num()

Enter any number to increment 1 value: 10

10 -----------> 20

In [ ]:
print()

In [14]:
def sum(x,y):
    sum1=x+y
    return sum1


sum(10,50)

60

In [15]:
# waf to find the sum of 1 to 10 sum of even numbers.


def even_num(x,y):
    total_even=0
    for i in range(x,y):
        if i%2==0:
            total_even+=i

    print(total_even)

even_num(1,11)

30

In [16]:
def even_loc():
    last_val=11
    total=0
    for i in range(1,last_val):
        if i%2==0:
            total+=i
    print(total)

even_loc()

30

In [21]:
x1=11
def even_glob():
    list_even=[]
    total=0
    for i in range(1,x1):
        if i%2==0:
            list_even.append(i)
            total+=i
    print(list_even,'=',total)
even_glob()

[2, 4, 6, 8, 10] = 30

In [22]:

def even_glob(x1):
    list_even=[]
    total=0
    for i in range(1,x1):
        if i%2==0:
            list_even.append(i)
            total+=i
    print(list_even,'=',total)
even_glob(11)

[2, 4, 6, 8, 10] = 30

In [30]:
def even_loc(x1):
    list1=[]
    last_val=x1
    total=0
    for i in range(1,last_val+1):
        if i%2==0:
            list1.append(i)
            total+=i
    print(list1,total)

even_loc(20)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20] 110

In [33]:
def even_loc(x1):
    list1=[]
    last_val=x1
    total=0
    for i in range(1,last_val+1):
        if i%2==0:
            list1.append(i)
            total+=i
    print(list1,total)
user1=int(input('Enter your range:'))
even_loc(user1)

Enter your range: 40

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40] 420

In [ ]:
print('Hello world')

In [39]:
def even_loc():
    last_val=int(input('Enter your range:'))
    list1=[]
    total=0
    for i in range(1,last_val+1):
        if i%2==0:
            list1.append(i)
            total+=i
    print(list1,total)

even_loc()

Enter your range: 10

[2, 4, 6, 8, 10] 30

In [40]:
even_loc()

Enter your range: 100

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100] 2550

In [ ]:
# Write a function to take three input from user and calculate the sum of two value and third values is used for divide the 
# total of two value.

In [42]:
def func1():
    x=int(input('Enter first number:'))
    y=int(input('Enter second number:'))
    sum1=x+y
    print(f'The sum of two numbers is {x} and {y} is {sum1}')
    z=int(input('Enter third value for value the sum:'))
    div=sum1/z
    print(f'After the sum of your number {sum1} then divided by {z} your value will be {div} ')


func1()

Enter first number: 10
Enter second number: 20

The sum of two numbers is 10 and 20 is 30

Enter third value for value the sum: 2

After the sum of your number 30 then divided by 2 your value will be 15.0

In [48]:
def function1(a,b):
    total=a+b
    print(total)
    c=int(input('Enter third number to divide'))
    div1=total/c
    print(f'After the division your value will be {div1}')

a=int(input('Enter first number:'))
b=int(input('Enter second number:'))

function1(a,b)

Enter first number: 10
Enter second number: 20

30

Enter third number to divide 5

After the division your value will be 6.0

In [68]:
def function1(a,b):
    total=a+b
    print(total)
    user2=input('Do your want to divide this number[yes/No]')
    print(user2)
    if user2.lower()=='yes':
        user1=int(input('Enter number to divide this value:'))
        z=total/user1
        print(f'After the dividion value is {z} \nYou value will be displayed.')
    else:
        print('Thank You Without Division')
        
    

a=int(input('Enter first number:'))
b=int(input('Enter second number:'))

function1(a,b)

Enter first number: 10
Enter second number: 20

30

Do your want to divide this number[yes/No] YES

YES

Enter number to divide this value: 5

After the dividion value is 6.0
You value will be displayed.

In [1]:
# Write a function to find the greatest amoung three user input age of person.

def func():
    x=int(input('Enter age of first person:'))
    y=int(input('Enter age of second person:'))
    z=int(input('Enter age of third person:'))

    if x>y and x>z:
        print(f'The person age {x} is greater than {y},{z}')
    elif y>x and y>z:
        print(f'The person age {y} is greater than {x},{z}')
    else:
        print(f'The person age {z} is greater than {x},{y}')

func()

Enter age of first person: 10
Enter age of second person: 120
Enter age of third person: 200

The person age 200 is greater than 10,120

In [4]:
def max_of_two(x,y):
    if x>y:
        return x
    return y
def max_of_three(x,y,z):
    return max_of_two(x, max_of_two(y,z))

x=int(input('Enter age of first person:'))
y=int(input('Enter age of second person:'))
z=int(input('Enter age of third person:'))
max_of_three(x,y,z)

Enter age of first person: 100
Enter age of second person: 120
Enter age of third person: 30

120

In [15]:
# Write a function to find the exponent of user input number. Alert: user input number should be in 
# positve value not in negative


def func1():
    user1=int(input('Enter any value:'))
    if user1>=0:
        if user1<=40:
            expo=user1**user1
            print(f'The Exponent of your number value is: {expo}')
        else:
            print('You value is not greater than 40.')
    else:
        print('Enter Positive value only.')

func1()

Enter any value: 39

The Exponent of your number value is: 112595147462071192539789448988889059930192105219196517009951959

In [17]:
# Write a program to find the square of number given range by the user.
# Starting and ending value taken from the user.


def square():
    x=int(input('Enter your starting range:'))
    y=int(input('Enter your ending range:'))
    while x<y+1:
        sqr=x**2
        print(f'{x}**2={sqr}')
        x+=1
square()

Enter your starting range: 10
Enter your ending range: 20

10**2=100
11**2=121
12**2=144
13**2=169
14**2=196
15**2=225
16**2=256
17**2=289
18**2=324
19**2=361
20**2=400

In [20]:
def func1():
    x=int(input('Enter your starting range:'))
    y=int(input('Enter your ending range:'))
    for i in range(x,y+1):
        sqr1=i**2
        print(f'{i}**2={sqr1}')


func1()

Enter your starting range: 10
Enter your ending range: 20

10**2=100
11**2=121
12**2=144
13**2=169
14**2=196
15**2=225
16**2=256
17**2=289
18**2=324
19**2=361
20**2=400

In [3]:
# Define a funciton that accepts roll number and returns wheter the student is present or not not.
# roll_no=[23,43,22,56,3,5,10,15]

def stu_rollno():
    roll_no=[23,43,22,56,3,5,10,15]
    user1=int(input('Enter your roll no.:\n'))
    if user1 in roll_no:
        print(f'Student is present of roll number is {user1}')
    else:
        print(f'Student is absent No roll number found {user1}')


stu_rollno()

Enter your roll no.:
 100

Student is absent No roll number found 100

In [25]:
# Define a funciton that accepts roll number and returns wheter the student is present or not not.
# roll_no=[23,43,22,56,3,5,10,15]

# if student is absent open input box and do you wan't to add this student if yes then add in the roll_no list, 
# if press no then terminate the condtion.

def stu_rollno():
    roll_no=[23,43,22,56,3,5,10,15]
    
    user1=int(input('Enter your roll no.:\n'))
    if user1 in roll_no:
        print(f'Student is present of roll number is {user1}')
        
    else:
        print(f'Student is absent No roll number found {user1}')
        if user1 not in roll_no:
            x=input("Do You wan't to add this roll no [Yes/No or Y/N]")
            
            if x.lower()=='yes':
                roll_no.append(user1)
                print('Student Added Successfully!')
                print('New List:',roll_no)
            else:
                print('Thanks! Without Adding Student')
                   
stu_rollno()

Enter your roll no.:
 1

Student is absent No roll number found 1

Do You wan't to add this roll no [Yes/No or Y/N] yes

Student Added Successfully!
New List: [23, 43, 22, 56, 3, 5, 10, 15, 1]

In [26]:
stu_rollno()

Enter your roll no.:
 1

Student is absent No roll number found 1

Do You wan't to add this roll no [Yes/No or Y/N] yes

Student Added Successfully!
New List: [23, 43, 22, 56, 3, 5, 10, 15, 1]

In [30]:
# Write a function counts vowels and consonent in your name.

# a,e,i,o,u is vowel and remaining 21 characters are consonent..??

def count():
    user1=input('Enter your name:')
    vow=0
    cons=0
    for i in range(len(user1)):
        if user1[i] in ['a','e','i','o','u']:
            vow=vow+1
        else:
            cons=cons+1
    print('Total Vowels in your name is:',vow)
    print('Total Consonent in your name is:',cons)
    print('Total Characters in your name is:',len(user1))
count()

Enter your name: The quick brown fox jumps over the lazy dog.

Total Vowels in your name is: 11
Total Consonent in your name is: 33
Total Characters in your name is: 44

In [5]:
# Write a function that accept the input from user's name in lower case and return output user's name in uppercase. and count
# the total vowels and consonent in user's name?

def response():
    text=input('Enter Your name: ')
    upper=text.upper()
    print('Upper Text is :',upper)
    vow=0
    cons=0
    for i in range(len(text)):
        if text[i] in ['a','e','i','o','u']:
            vow=vow+1
        else:
            cons=cons+1

    print('Total vowel Characters in your name:',vow,'\nTotal Consonent Characters in your name:',cons)

response()

Enter Your name:  dhoni

Upper Text is : DHONI
Total vowel Characters in your name: 2
Total Consonent Characters in your name: 3

In [12]:
def response():
    text=input('Enter Your name: ')
    upper=text.upper()
    print('Upper Text is :',upper)
    vow=0
    cons=0
    for i in range(len(text)):
        if text[i] in ['a','e','i','o','u','A','E','I','O',"U",'U']:
            vow=vow+1
        else:
            cons=cons+1

    print('Total vowel Characters in your name:',vow,'\nTotal Consonent Characters in your name:',cons)
response()

Enter Your name:  Ajinkya

Upper Text is : AJINKYA
Total vowel Characters in your name: 3
Total Consonent Characters in your name: 4

In [11]:
#WAP to input a name in lower case and output it uppercase, count the total vowel and consonent in user's name

def user_name():
    x = input("Enter any name")
    print("User input in UPPER CASE:", x.upper())

    vowels = 'aeiouAEIOU'
    conso = " BCDFGHJKLMNPQRSTVWXYZbcdfghjklmnpqrstvwxyz"

    vowel_count = 0
    conso_cpunt = 0
    for i in x:
        if i in vowels:
            vowel_count+=1
        elif i in conso:
            conso_cpunt+=1
    print("Vowels are : ",vowel_count)
    print("Conso are : ",conso_cpunt)
    


user_name()

Enter any name rupali

User input in UPPER CASE: RUPALI
Vowels are :  3
Conso are :  3

In [8]:
user_name()

User input in UPPER CASE: RUPALI
Vowels are :  3
Conso are :  3

In [9]:
response()

Enter Your name:  rupali

Upper Text is : RUPALI
Total vowel Characters in your name: 3
Total Consonent Characters in your name: 3

In [10]:
x = input("Enter any name")

user_name()

Enter any name rupali

User input in UPPER CASE: RUPALI
Vowels are :  3
Conso are :  3

In [26]:
def count_vowels():
    x = input("Enter any name")
    y=x.upper()
    vowels = 'aeiouAEIOU'
    vow=[]
    cons=[]
    count_vow = 0 
    count_cons=0
    i = 0
    while i < len(x):
        if x[i] in vowels:
            count_vow+=1
            vow.append(x[i])
        else:
            count_cons+=1
            cons.append(x[i])
        i += 1
        
    print('Name in Upper:',y,'\nTotal vowels char in your name',vow,"=",count_vow,'\nTotal consonent char in your name is:',cons,"=",count_cons)

count_vowels()

Enter any name ajinkya

Name in Upper: AJINKYA
Total vowels char in your name ['a', 'i', 'a'] = 3
Total consonent char in your name is: ['j', 'n', 'k', 'y'] = 4

In [27]:
# Define a function that accept radius and return the area and circumerence of the circle.
# area of circle=pi*r*r and pi*r**2
# circumference of circle= 2*pi*r  # 3.147

import math

def circle():
    x=int(input('Enter any radius of circle:'))

    area=math.pi*x*x
    circum=2*math.pi*x
    print('Total area of circle is=',area,'\nCircumference of circle is=',circum)


circle()

Enter any radius of circle: 10

Total area of circle is= 314.1592653589793
Circumference of circle is= 62.83185307179586

In [4]:
def factorial(n):
    if n==0:
        return 1
    else:
        result=1
        for i in range(1,n+1):
            result*=i
        return result


number=3
factorial(number)

6

In [11]:
#square of each element in given list 

def square_find():
    list = []
    sq_list = []
    x = int(input("Enter number of elements you want in list"))
    for i in range(1,x+1):
        element = int(input(f"Element {i} of list : "))
        list.append(element)
    print("Your list is : ",list)
    for i in list: 
        z = i*i 
        sq_list.append(z)
        i+=1
    print("squared list is : ",sq_list)


square_find()

Enter number of elements you want in list 7
Element 1 of list :  4
Element 2 of list :  5
Element 3 of list :  6
Element 4 of list :  9
Element 5 of list :  5
Element 6 of list :  3
Element 7 of list :  12

Your list is :  [4, 5, 6, 9, 5, 3, 12]
squared list is :  [16, 25, 36, 81, 25, 9, 144]

In [13]:
#Check number is even or odd and print that in list 

def check_num():
    list = []
    new_list = []
    x = int(input("Enter number of elements you want in list : "))
    for i in range (1,x+1):
        ele = int(input(f" Enter your element {i} of list : "))
        list.append(ele)
    print("Your list is : ",list)
    for i in list:
        if i % 2 == 0:
            i+=1
            new_list.append("even")
        else:
            new_list.append("odd")
    print(new_list)

check_num()

Enter number of elements you want in list :  3
 Enter your element 1 of list :  45
 Enter your element 2 of list :  56
 Enter your element 3 of list :  36

Your list is :  [45, 56, 36]
['odd', 'even', 'even']

In [2]:
#Area of triangle using base and height : 

def area_tri():
    h = int(input("Enter height of triangle : "))
    b = int(input("Enter base of triangle : "))
    if h > 0 and b > 0:
        area = 0.5 * h * b 
        print("Area of given triangle is : ",area)
 
    else:
        print("Enter positive non zero numbers only")
    

area_tri()

Enter height of triangle :  -45
Enter base of triangle :  12

Enter positive non zero numbers only

In [15]:
def string_alpha():
    list = []
    s = int(input("Enter number of elements you want in list : "))
    for i in range(1,s+1):
        ele = input(f"Your string {i} : ")
        list.append(ele)
    print("Your list of string : ",list)
    for i in list:
        list.sort()
    print("Alphabetically sorted list : ",list)

string_alpha()

Enter number of elements you want in list :  5
Your string 1 :  rupali
Your string 2 :  aman
Your string 3 :  rohit
Your string 4 :  dhoni
Your string 5 :  mahi

Your list of string :  ['rupali', 'aman', 'rohit', 'dhoni', 'mahi']
Alphabetically sorted list :  ['aman', 'dhoni', 'mahi', 'rohit', 'rupali']

In [18]:
def factorial():
    num = int(input("Enter any number : "))
    
    i = 1
    f = 1
    while i<=num:
        f = f*i
        i+=1
    print(f"Factorial of {num} is : ",f)
factorial()

Enter any number :  5

Factorial of 5 is :  120

In [1]:
# Write a function that converts a decimal numbers to binary numbers.
# write a function to find the lcm of two numbers given by the user.
# write a function to find the hcf of two number given by the user.

In [5]:
print(bin(68)[2:])

1000100

In [6]:
bin(89)

'0b1011001'

In [25]:
def deci_to_bin(x):
    if x>=1:
        deci_to_bin(x//2)
        
        
    print(x%2,end='')
    

deci_to_bin(366)

0101101110

In [22]:
# covert binary to decimal

def bin_to_dec(binary):
    decimal = 0
    i = 0
    while binary != 0:
        dec = binary % 10
        decimal = decimal + dec * 2**i
        binary = binary // 10
        i += 1
    
    print("Binary to Decimal is : ",decimal)
x=int(input('Enter value'))
bin_to_dec(x)

Enter value 101101110

Binary to Decimal is :  366

In [ ]:
# write a function to find the amount of electricity unit consumed by the user.
# if unit is 17.28 Kwh amount will be 172.8 means 10 rupees per unit.

# energy= (unit/1000)*time
# energy consumption= energy * unit_cost

enery=(17.28/1000)*30

In [36]:
unit=int(input('Enter total unit: '))
time=int(input('Enter total time used: '))
unit_cost=5

if unit>0 and time>0:
    energy=(unit)/1000*time
    if energy>0 and unit>0:
        energy_consuption=energy*unit_cost
        print('Total Cost is:',"",energy_consuption)
    else:
        print('Enter a valid Hours. Hours Not be in 0')

else:
    print('Unit Shoud be More than 0')

Enter total unit:  500
Enter total time used:  720

Total Cost is:  1800.0

In [34]:
#WAP to find the amount of electricity unit consumtion by uUser
#if unit is 17.28 Kwh amount will bw 172.8 means 10 rupees per unit.

def unit_consume():
    units = int(input("Enter your unit : "))
    time_in_hour = int(input("Enter time in hours : "))
    unit_cost = 10
    energy = (units /1000) * time_in_hour 
    total = energy * unit_cost
    print("Your bill is : ",total,"rupees only")



unit_consume()

Enter your unit :  50
Enter time in hours :  5

Your bill is :  2.5 rupees only

In [39]:
#HCF

def calculate_hcf():
    x = int(input("Enter first number: "))  
    y = int(input("Enter second number: "))
      
    if x > y:  
        smaller = y  
    else:  
        smaller = x  
    for i in range(1,smaller + 1):  
        if((x % i == 0) and (y % i == 0)):  
            hcf = i  
    return hcf  
  
print(calculate_hcf())

Enter first number:  10
Enter second number:  15

5

In [42]:
# LCF of two numbers

def calculate_lcm(x, y):  
    
    if x > y:  
        greater = x  
    else:  
        greater = y  
    while(True):  
        if((greater % x == 0) and (greater % y == 0)):  
            lcm = greater  
            break  
        greater += 1  
    return lcm    
  

num1 = int(input("Enter first number: "))  
num2 = int(input("Enter first number: "))  

print("The L.C.M. of", num1,"and", num2,"is >>>>", calculate_lcm(num1, num2))

Enter first number:  10
Enter first number:  26

The L.C.M. of 10 and 26 is >>>> 130

In [40]:
calculate_hcf()

Enter first number:  15
Enter second number:  20

5

In [43]:
num1 = int(input("Enter first number: "))  
num2 = int(input("Enter first number: "))  

print("The L.C.M. of", num1,"and", num2,"is >>>>", calculate_lcm(num1, num2))

Enter first number:  15
Enter first number:  45

The L.C.M. of 15 and 45 is >>>> 45